<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Students</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style type="text/css">
        .box {
            width: 90%;
            height: 200px;

            margin: 5%;
            align-content: center;

        }

        .cardData {
            font-size: 22px;
            font-weight: 700;
        }

        button:focus {
            outline: none !important;
            box-shadow: none !important;
        }
    </style>

</head>

<body style="background-color: azure;">
    <div class="container">

        <h2 class="text-center fw-bold py-2 display-6">Attendance for :<span id="dt" style="color: red"></span></h2>


        <div class="my-5">
            <% stds.forEach( (std)=>{ %>
                <form method="post" action="/attendance/<%= std._id %>" style="    text-align: -webkit-center">
                    <input type="hidden" name="name" value="<%= std.name %>">
                    <input type="hidden" name="id" value="<%= std._id %>">
                    <input type="hidden" name="dates" id="dateinp<%= std._id %>">
                    <div class="card mb-3" style="max-width: 900px;border:0px">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="<%= std.image %>" class="card-img-top w-100 h-100" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><span class="cardData">Student Name: </span>
                                        <%= std.name %>
                                    </h5>
                                    <h5 class="card-title"><span class="cardData">Student Id: </span>
                                        <%= std._id %>
                                    </h5>
                                    <p class="card-text">
                                    <table class="table text-center  table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Physics</th>
                                                <th scope="col">Chemistry </th>
                                                <th scope="col">Mathematcis</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tr style="vertical-align: middle;">

                                            <td>
                                                <a id="pp<%= std._id %>"> <button type="button"
                                                        class="btn btn-outline-success">+</button></a>
                                                <input type="hidden" name="ph" id="ph<%= std._id %>" value="0">
                                                <span id="phy<%= std._id %>"
                                                    style="font-size:20px;padding: 5px;">0</span>
                                                <a id="pm<%= std._id %>"><button type="button"
                                                        class="btn btn-outline-danger">-</button></a>
                                            </td>

                                            <td>
                                                <a id="cp<%= std._id %>"> <button type="button"
                                                        class="btn btn-outline-success">+</button></a>
                                                <input type="hidden" name="ch" id="ch<%= std._id %>" value="0">
                                                <span id="chem<%= std._id %>"
                                                    style="font-size:20px;padding: 5px;">0</span>
                                                <a id="cm<%= std._id %>"><button type="button"
                                                        class="btn btn-outline-danger">-</button></a>
                                            </td>
                                            <td>
                                                <a id="mp<%= std._id %>"> <button type="button"
                                                        class="btn btn-outline-success">+</button></a>
                                                <input type="hidden" name="mt" id="mt<%= std._id %>" value="0">
                                                <span id="maths<%= std._id %>"
                                                    style="font-size:20px;padding: 5px;">0</span>
                                                <a id="mm<%= std._id %>"><button type="button"
                                                        class="btn btn-outline-danger">-</button></a>
                                            </td>

                                            <td>

                                                <button type="submit" class="btn btn-dark">Submit</button>
                                            </td>

                                            </td>

                                        </tr>

                                    </table>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="box" align="center">
               
                <table border="1" cellpadding="10px" align="center">
                   
                    <tr>
                        <th> </th>
                        <th>CHEMISTRY ATTENDANCE</th>
                        <th>MATHEMATICS ATTENDANCE</th>
                    </tr>
                    
                    <tr>
                        <td colspan="3"><button>Submit</button><br></td>
                    </tr>

                </table><br><br><br><br><br>
            </div> -->

                </form>
                <br>


                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#pp<%= std._id %>").click(function () {
                            var val = document.getElementById("ph<%= std._id %>").value;
                            var p = Number(val) + 1;
                            if (p < 0) {
                                p = 0;
                            }
                            if (p > 50) {
                                p = 50;
                            }
                            document.getElementById("ph<%= std._id %>").value = p;
                            document.getElementById("phy<%= std._id %>").innerHTML = p;
                        });
                        $("#pm<%= std._id %>").click(function () {
                            var valp = document.getElementById("ph<%= std._id %>").value;
                            var p = Number(valp) - 1;
                            if (p < 0) {
                                p = 0;
                            }
                            if (p > 50) {
                                p = 50;
                            }
                            document.getElementById("ph<%= std._id %>").value = p;
                            document.getElementById("phy<%= std._id %>").innerHTML = p;
                        });
                        $("#cp<%= std._id %>").click(function () {
                            var valc = document.getElementById("ch<%= std._id %>").value;
                            var c = Number(valc) + 1;
                            if (c < 0) {
                                c = 0;
                            }
                            if (c > 50) {
                                c = 50;
                            }
                            document.getElementById("ch<%= std._id %>").value = c;
                            document.getElementById("chem<%= std._id %>").innerHTML = c;
                        });
                        $("#cm<%= std._id %>").click(function () {
                            var valc = document.getElementById("ch<%= std._id %>").value;
                            var c = Number(valc) - 1;
                            if (c < 0) {
                                c = 0;
                            }
                            if (c > 50) {
                                c = 50;
                            }
                            document.getElementById("ch<%= std._id %>").value = c;
                            document.getElementById("chem<%= std._id %>").innerHTML = c;
                        });
                        $("#mp<%= std._id %>").click(function () {
                            var valm = document.getElementById("mt<%= std._id %>").value;
                            var m = Number(valm) + 1;
                            if (m < 0) {
                                m = 0;
                            }
                            if (m > 50) {
                                m = 50;
                            }
                            document.getElementById("mt<%= std._id %>").value = m;
                            document.getElementById("maths<%= std._id %>").innerHTML = m;
                        });
                        $("#mm<%= std._id %>").click(function () {
                            var valm = document.getElementById("mt<%= std._id %>").value;
                            var m = Number(valm) - 1;
                            if (m < 0) {
                                m = 0;
                            }
                            if (m > 50) {
                                m = 50;
                            }
                            document.getElementById("mt<%= std._id %>").value = m;
                            document.getElementById("maths<%= std._id %>").innerHTML = m;
                        });
                    });
                    var d = new Date();
                    var date = d.toLocaleDateString();
                    document.getElementById('dt').innerHTML = date;
                    document.getElementById('dateinp<%= std._id %>').value = date;


                </script>
                <% }) %>
        </div>
    </div>

</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

</html>